{% load static %}
{% block body %}
 <!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="" > 
        <form action='' method="POST">  
        {% csrf_token %}
        <h1 style="font-size: 1.3rem; font-family: 'STIX Two Math', serif;">Click get to fetch the ip_address and hostname of user computer</h1>  
        <button class="btn btn-success">GET</button>
    </form>
</div>
<div class="class-border">
<div class="col-log-4">
    <form action="/show" method="GET">
    <button class="btn btn-primary" href="{% url 'show' %}">PUT</button>
</form>
</div>
</div>
</body>
</html>
{% endblock %}
